<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>电饭煲定时计算</title>
</head>

<body>
    <form action="/tool/dfb" method="POST">
        <label for="cooktime">煮饭需要时间（分钟）:</label>
        <input type="text" name="cooktime" required minlength="4" maxlength="4" size="4" value="40">
        <br>
        <label for="mealtime">吃饭时间:</label>
        <input type="datetime-local" name="mealtime" value="{{ .DateTime }}">
        <button>查询</button>
    </form>

    {{ .Message }}
</body>

</html>
